.pinkClass{
    color:#ee5f73;
    font-weight: 700;
}
.purpleClass{
    color:  #fb56c1;
    font-weight: 700;
}
.orangeClass{
    color: #f26a10;
    font-weight: 700;
}
.yellowClass{
    color: #f2c210;
    font-weight: 700;
}
.greenClass{
    color: #0db7af;
    font-weight: 700;
}
.redClass{
    color:  #ff3f6c;
    font-weight: 700;
}