
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
*{
  font-family: 'Assistant', sans-serif;
}
#Chord{
  height: 280px;
  width: 189px;
}
#header{
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 50px;
  font-weight: 900;
  font-size: 25px;
}