#tabsComponent{
    width: 1100px;
    box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.071);
    height: 450px;
    // display: flex;
    justify-content:space-around;
    line-height: 28px;
    padding-top: 20px;
    display: none;
    font-size: 14px;
    
}
#itemHeading{
    font-weight: 700;
}
#secDivision{
    border-bottom: 1px solid rgb(230 230 230);
}
